:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}

.relojes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 768px) {
  .relojes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .relojes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.reloj {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.reloj .contenido {
  padding: 1rem;
}

.reloj .contenido h3{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primary);
}

.reloj .precio{
  color: var(--primary);
  font-size: 4rem;
  font-weight: 700;
}

.reloj .descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.8rem;
}

